{% extends 'main/master.html' %}
{% block content %}
{% load static%}
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"> <img class="img-fluid" src="/static/images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Freshmart</span></h2>
                <p> Welcome to Freshmart, where freshness meets quality! We specialize in providing the freshest fruits and vegetables directly from the farm to your table. Our mission is to connect you with the best farmers, ensuring that you receive produce that is both nutritious and delicious.

                    Our Core Values:
                    
                    Freshness Guaranteed: Our produce is harvested at its peak and delivered to you quickly, preserving its natural flavor and nutrients.
                    Quality You Can Trust: We partner with experienced farmers who practice sustainable and ethical farming methods, ensuring that our fruits and vegetables are of the highest quality.
                    Convenience at Your Fingertips: Shop for fresh produce from the comfort of your home with our user-friendly online platform, and enjoy the convenience of doorstep delivery.
                    At Freshmart, we are passionate about promoting healthy living through fresh, farm-to-table produce. Join us on this journey to enjoy the best that nature has to offer.</p>
                <p> </p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Farm-Fresh Quality</h3>
                    <p>We partner with trusted farmers who are committed to sustainable and ethical farming practices. This means our produce is not only fresh but also environmentally friendly. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Best Farmers, Best Produce</h3>
                    <p>We work with the best farmers who are passionate about their produce. This dedication to quality is reflected in every fruit and vegetable we offer. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Healthy Living</h3>
                    <p>Freshmart is committed to promoting a healthy lifestyle by providing nutritious and delicious produce. Eating fresh fruits and vegetables has never been easier or more convenient. </p>
                </div>
            </div>
        </div>
        
            
<!-- End About Page -->

{% endblock %}
